
{%include 'header.html'%}
<h3 class="text-center">LISTA DE CLIENTES</h3>
<div class="text-center">
    <a href="" class="btn btn-primary">Nuevo</a>
</div>
<div class="table-responsive">
    <table class="table"><br>
        <thead class="table-dark">
            <tr>
                <th scope="col">ID</th>
                <th scope="col">NOMBRE</th>
                <th scope="col">TELEFONO</th>
                <th>FECHA</th>
                <th>ACCIONES</th>
            </tr>
        </thead>
        <tbody>
            
            <tr class="">
                <td scope="row">Item</td>
                <td>Item</td>
                <td>Item</td>
                <td>Item</td>
                <td>
                    <a href="" class="btn btn-success">editar</a>
                    <a href="" class="btn btn-danger">eliminar</a>
                </td>
            </tr>
        </tbody>
    </table>
</div>
{%include 'footer.html'%}