
{%include 'header.html'%}
<h3 class="text-center">LISTA DE CLIENTES</h3>
<div class="text-center">
    <a href="/cliente/create" class="btn btn-primary">Nuevo</a>
</div>
<div class="table-responsive">
    <table class="table"><br>
        <thead class="table-dark">
            <tr>
                <th scope="col">ID</th>
                <th scope="col">NOMBRE</th>
                <th scope="col">TELEFONO</th>
                <th>FECHA</th>
                <th>ACCIONES</th>
            </tr>
        </thead>
        <tbody>
            {%for cliente in clientes%}
            <tr class="">
                <td scope="row">{{loop.index}}</td>
                <td>{{cliente['nombre']}}</td>
                <td>{{cliente['telefono']}}</td>
                <td>{{cliente['fecha']}}</td>
                <td>
                    <a href="/clientes/edit/{{cliente['id']}}" class="btn btn-success">editar
                        <i class="fa-solid fa-paintbrush"></i>
                    </a>
                    <a href="/clientes/borrar/{{cliente['id']}}" class="btn btn-danger">eliminar</a>
                </td>
            </tr>
            {%endfor%}
        </tbody>
    </table>
</div>
{%include 'footer.html'%}